################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ChatBot/bin/Debug/net5.0
/ChatBot/obj
